<!-- importando conteudo base -->
{% extends "layout.html" %}

<!-- Title -->
{% block title %}
	<title>{{title}}</title>
{% endblock title %}

<!-- body --> 
{% block content %}

	{% block navbar %}
		{% include "partials/navbar.html" %}
	{% endblock navbar %}

	<div class="container">
		<div class="row">
			<div class="col s12">
				<table class="highlight">
					<thead>
						<tr>
							<th>Nº</th>
							<th>CNH</th>
							<th>Tipo CNH</th>
							<th>Vencimento</th>
							<th>Nome do portador</th>
							<th>Departamento</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>

{% endblock content %}

<!-- scripts -->
{% block scripts %}
	<script src="/scripts/motoristas.js"></script>
{% endblock scripts %}

