{# Modal #}

 <!-- Modal Structure -->
 <div id="modal" class="modal bottom-sheet">
	<div class="modal-content">
		<div class="input-field col s12">

			<i class="material-icons prefix">search</i>
			<input type="text" id="autocomplete-input" class="autocomplete">
			<label for="autocomplete-input" >Pesquisar por {{title}}</label>
			<a href="#!" class="modal-close waves-effect btn-flat" id="exit">
				<i class="material-icons">close</i>
			</a>

		</div>
	</div>
	
	<div class="modal-footer">
		<a href="#!" class="waves-effect btn-flat" id="search">Pesquisar</a>
	</div>

</div>




