
/* Tabela */

.container #km {
	width: 89px;
}

.container #motorista {
	width: 154px;
}

.container #m-veiculo {
	width: 126px;
}

.container #placa {
	width: 96px;
}

.container #pecas {
	width: 108px;
}

.container #garantia {
	width: 137px;
}

/* -------- */